#gameCanvas {
  border: 2px solid #993299;
  border-radius: 10px;
  display: block;
  margin: auto;
  padding: 0;
}

h1 {
  color: #993299;
  display: block;
  margin: auto;
  padding: 0;
  text-align: center;
}

footer {
    margin-top: 20px;
    background-color: #ccc;
    border-top: 1px solid #000;
}

footer p {
  color: #993299;
  text-align: center;
  width: 80%;
}
/* footer {
  padding: 5px 0;
} */

footer a {
  color: #000;
}

footer a:hover {
  color: #993299;
}

.nav-link {
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.nav-link:hover {
    background-color: #ccc;
}

p {
  color: #993299;
  display: block;
  text-align: center;
}

#startButton:hover {
  background-color: #ccc;
  color: #000;
}

/* @media (max-width:700px) {
  #gameCanvas {
    height: auto;
    width: 320px;
  }
} */
